<!DOCTYPE html>
<html>

<head>
    <title>Pieneer - Live Presentation made Interactive and Easy</title>
    <!-- google login-->
    <!-- <meta name="google-signin-client_id" content="976623563011-b70ot73gqn26b87jc02jacdg726tce7s.apps.googleusercontent.com"> -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="/css/main_desktop.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src="/img/pieneer_logo.svg"> Pieneer</a>
        </div>
        <ul class="nav navbar-nav ml-auto">
            <button type="button" class="btn btn-primary login" data-toggle="modal" data-target="#loginModal">Login / Signup</button>
        </ul>
    </nav>
    <!-- Modal Login -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/login" method="post">
                        <div>
                            <label>username:</label>
                            <input type="text" name="username" />
                        </div>
                        <div>
                            <label>Password:</label>
                            <input type="password" name="password" />
                        </div>
                        <div>
                            <a href="/auth/facebook">facebook login</a>
                        </div>
                        <div>
                            <a href="/auth/google">google login</a>
                        </div>
                        <div>
                            <a href="/auth/linkedin">linkedIn login</a>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" value="Log in" class="btn btn-primary">Log In</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>

<script>
    // //google log-in
    // $('#login').on('shown.bs.modal', function () {
    //     $('#myInput').trigger('focus')
    // })
    
    //google sign-out
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }
    (function ($) {
        $.fn.serializeFormJSON = function () {

            var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                if (o[this.name]) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };
    })(jQuery);

    $('.save-user').click(function (e) {
        e.preventDefault();
        $.ajax({
            url: '/api/users/1', // id
            type: 'PUT',
            data: JSON.stringify($('#form-user').serializeFormJSON()),
            dataType: "json",
            contentType: "application/json"
        }).then((data) => {
            console.log('user infos updated');
        });
    });
</script>

</html>